@model Restaurantbookingpage.Models.Registration
@using BookingClass.Enum;
@{

}

<form name="accountForm">
    <div class="modal-header" style="padding-left: 35%; background-color: #1d8b96; ">
        <h4 class="modal-title">
            <span><b id="titlename"> </b></span>
            <button type="button" class="close" style="" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </h4>
    </div>
    @Html.AntiForgeryToken()
<div class="modal-body" style="background-color: whitesmoke;">
    @Html.HiddenFor(model => model.Id)
  
    <div class="row">
        <div class="col-md-auto">
            <div class="form-group" style="padding-left: 20px">
                <h5><b>Name</b></h5>
                <div class="col-md-auto" style="padding-left: 2px; padding-right: 30px">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @Id = "Name", @class = "form-control", @onkeyup = "nameValidation()" } })
                    <small style="position:absolute">@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @Id = "nameValidation" })</small>
                </div>
            </div>

            <div class="form-group" style="padding-left: 20px">
                <h5><b>Email</b></h5>
                <div class="col-md-auto" style="padding-left: 2px; padding-right: 30px">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @Id = "Email", @class = "form-control" } })
                    <small style="position:absolute">@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</small>
                </div>
            </div>

            <div class="form-group" style="padding-left:20px">
                <h5><b>Password</b></h5>
                <div class="col-md-auto" style="padding-left: 2px; padding-right: 30px">
                    @Html.TextBoxFor(model => model.Password, new { @type = "password", @Value = Model.Password, @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group" style="padding-left: 20px">
                <h5><b>Contact No</b></h5>
                <div class="col-md-auto" style="padding-left: 2px; padding-right: 30px">
                    @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @Id = "ContactNo", @class = "form-control" } })
                    <small style="position:absolute">@Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })</small>
                </div>
            </div>
            <div class="form-group" style="padding-left: 20px;" id="EmployeePassword">
                <h5><b>Isadmin</b></h5>
                <div class="col-md-auto" style="padding-left: 2px; padding-right: 30px">
                    @Html.EditorFor(model => model.Isadmin, "Is Admin", new { htmlAttributes = new { @class = "disable" } })
                    @Html.ValidationMessageFor(model => model.Isadmin, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
</div>

        <div class="modal-footer"style="background-color: #242a2a;">
            <button type="button" class="btn btn-sm pull-right" style=" margin-top: 0px; margin-bottom: -2px;" data-dismiss="modal">Cancel</button>
            <button type="button" id="saveclick" onclick="Saveaccount()" style="padding-left: 24px;margin-right: 8px;margin-bottom: -84px;margin-top: 0px;" class="btn btn-sm btn-success pull-right">Save</button>
            <button type="button" id="editclick" onclick="enableedit()"  style="padding-left: 24px;margin-right: 8px;margin-bottom: -84px;margin-top: 0px;" class="btn btn-sm btn-warning pull-right">Edit</button>
            <button type="button" id="savechange" onclick="savechanges()" style="padding-left: 24px;margin-right: 8px;margin-bottom: -84px;margin-top: 0px;" class="btn btn-sm btn-success pull-right">Save</button>

        </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        var operation = '@Model.Actions.ToString()';
        if (operation == '@Actions.View') {
            document.getElementById("titlename").innerHTML = "VIEW USER";
            $('.form-control').attr('disabled', true);
            $("#saveclick").hide();
            $("#savechange").hide();
            $("#EmployeePassword").hide();


        }
        if (operation == '@Actions.Create') {
            document.getElementById("titlename").innerHTML = "REGISTER USER";
            $('.form-control').attr('disabled', false);
            $("#editclick").hide();
            $("#savechange").hide();
           

        }
        if (operation == '@Actions.Edit') {
            document.getElementById("titlename").innerHTML = "EDIT USER";
             $('.form-control').attr('disabled', false);
            $("#editclick").hide();
            $("#saveclick").hide();
            $("#EmployeePassword").hide();

        }
       
    });

    function enableedit() {
        $('.form-control').attr('disabled', false);
        $("#editclick").hide();
        $("#savechange").show();
    }


</script>


